html {
font: normal 100%/1.3 Signika, sans-serif;
}


/*-----Toggle Navigation -------*/

.nav {
	display: none;
}

.nav-check{
	position: absolute
	top: -3em;
}

.nav-check:checked ~ .nav {
	display: block;
}

.horizontal-rule {
	margin: 0 auto;
	border: solid 3em #000;
	width: 75%;
}


/*----- Banner -----*/

.banner-div {
	position: relative;
}

.banner-content {
	position: absolute;
	top: 90px;
}
