html {
font: normal 100%/1.3 Signika, sans-serif;
}

/*----------- Design ------------*/

.hero-type {
	color: #fff;
}

.litt-c {
	color: #d4612b;
}

.copy {
	color: #4e4e50;
}

.header {
	color: #363436;
}

.box-b {
	background-color: rgba(145, 178, 211, .18);
}

.img-circle {
	border-radius: 50%;
}

.img-center {
	margin: auto;
	display: block;
}
/*------ Forms --------*/

label {
	display: block;
	cursor: pointer;
}

input + label {
	display: inline;
}

input {
	color: #000;
	border: 1px solid rgba(145, 178, 211, .75);
}

.input-m {
	width: 50%;
}


/*----- Banner  and Navigation-----*/

.banner-div {
	position: relative;
	background-color: rgba(145, 178, 211, .75);
}

.banner-content {
	position: absolute;
}

h1 {
	margin-bottom: 0;
}

nav {
	position: relative;
	bottom: 37px;
}

a {
	text-decoration: none;
}


/*-------- Logo  ----------*/

.logotype {
	width: 25%;
}

/*----- Social Media Buttons -------*/

.i-facebook {
	background-image: url("../img/facebook.svg");
	background-size: contain;
}

.i-vimeo {
	background-image: url("../img/vimeo.svg");
	background-size: contain;
}

.i-twitter {
	background-image: url("../img/twitter.svg");
	background-size: contain;
}

.i-insta {
	background-image: url("../img/instagram.svg");
	background-size: contain;
}


/*----------- XSml. 240px ------*/

@media only screen and (min-width: 14em) {

	html {
		font-size: 80%;
	}

	h2 {
		margin: 0;
		padding-top: 0;
		position: relative;
		bottom: 80px;
	}

	.hmpage-banner-type {
		position: relative;
		top: -70px;
		padding-top: 0;
	}

	.hero-h3 {
		position: relative;
		top: -75px;
	}

	.hero-btn {
		position: relative;
		top: -85px;
	}

	nav {
		bottom: 20px;
		left: 12px;
	}

	.hero-p {
			bottom: 92px;
		}

		.img-circle {
			width: 25% auto;
		}

		.banner-type {
			position: relative;
			top: -40px;
		}

}


/*----------- Sml. 303px ------*/

@media only screen and (min-width: 18em) {

		.banner-type {
			position: relative;
			top: -50px;
		}

}


/*----------- Sml. 320px ------*/

@media only screen and (min-width: 20em) {

	html {
		font-size: 100%;
	}

	nav {
		bottom: 32px;
		left: 24px;
	}

	.hmpage-banner-type {
		top: -110px;
	}

	.banner-type {
		top: -75px;
	}

}


/*----------- Med. 410px ------*/
@media only screen and (min-width: 24em) {
	nav {
		bottom: 32px;
		left: 24px;
	}

	.banner-type {
		top: -105px;
	}

}

/*----------- Med. 525px ------*/
@media only screen and (min-width: 30em) {

	.hmpage-banner-type {
		top: -165px;
	}

	.banner-type {
		top: -155px;
	}
}


/*----------- Med. 608px ------*/

@media only screen and (min-width: 38em) {

	html {
		font-size: 110%;
	}

	nav {
		bottom: 34px;
		left: 272px;
	}

	.img-circle {
		width: 100%;
	}

	.hmpage-banner-type {
		top: -285px;
	}

	.banner-type {
		top: -185px;
	}

}

/*----------- Med. 680px The Base ------*/

@media only screen and (min-width: 41em) {

	h1 {
		margin: 0;
		padding-top: 0;
	}

	nav {
		left: 304px;
	}

	.banner-type {
		top: -225px;
	}

}


/*----------- Med. 760px The Base ------*/

@media only screen and (min-width: 46em) {

	nav {
		left: 344px;
	}

	.banner-type {
		top: -260px;
	}


}


/*----------- Med. 860px -----*/

@media only screen and (min-width: 52em) {

	nav {
		left: 400px;
	}

	.hmpage-banner-type {
		top: -300px;
	}

	.banner-type {
		top: -285px;
	}

}

/*----------- Large. 900px -----*/

@media only screen and (min-width: 55em) {

	html {
		font-size: 120%;
	}

	nav {
		left: 320px;
	}

}

/*----------- Lrg. 940px -----*/

@media only screen and (min-width: 57em) {

	nav {
		left: 445px;
	}

	.hmpage-banner-type {
		top: -340px;
	}

	.banner-type {
		top: -315px;
	}

}

/*----------- Lrg. 960px -----*/

@media only screen and (min-width: 60em) {

	nav {
		left: 550px;
	}

	.hmpage-banner-type {
		top: -440px;
	}

	.banner-type {
		top: -355px;
	}

}


/*----------- Lrg. 1030px -----*/

@media only screen and (min-width: 59em) {

	nav {
		left: 570px;
	}

}

/*----------- Lrg. 1060px -----*/

@media only screen and (min-width: 65em) {

	nav {
		left: 655px;

}

/*----------- Lrg. 1160px -----*/

@media only screen and (min-width: 71em) {

	nav {
		left: 728px;
	}

	.banner-type {
		top: -455px;
	}

}


/*----------- Lrg. 1240px ------*/

@media only screen and (min-width: 76em) {

	nav {
		left: 788px;
	}

}

/*----------- Lrg. 1290px ------*/

@media only screen and (min-width: 79em) {

	nav {
		left: 808px;
	}

	.banner-type {
		top: -475px;
	}

}


/*----------- Lrg. 1370px ------*/

@media only screen and (min-width: 82em) {
	nav {
		left: 868px;
	}

	.hmpage-banner-type {
		top: -500px;
	}

}


/*----------- Lrg. 1430px ------*/

@media only screen and (min-width: 88em) {


	nav {
		left: 900px;
	}

	.banner-type {
		top: -515px;
	}
}

/*----------- Lrg. 1470px ------*/

@media only screen and (min-width: 91em) {

	nav {
		left: 968px;
	}

	.hmpage-banner-type {
		top: -675px;
	}
}

/*----------- Lrg. 1520px ------*/

@media only screen and (min-width: 94em) {

	nav {
		left: 1000px;
	}

	.banner-type {
		top: -565px;
	}

	.hmpage-banner-type {
		top: -675px;
	}
}


/*----------- Lrg. 1690px ------*/

@media only screen and (min-width: 98em) {

	nav {
		left: 1020px;
	}

}


/*----------- Lrg. 1730px ------*/

@media only screen and (min-width: 107em) {

	nav {
		left: 1088px;
	}

	.banner-type {
		top: -605px;
	}

	.hmpage-banner-type {
		top: -775px;
	}

}


/*----------- Lrg. 1820px ------*/

@media only screen and (min-width: 112em) {

	nav {
		left: 1108px;
	}

}

/*----------- Lrg. 1920px ------*/

@media only screen and (min-width: 119em) {

	nav {
		left: 1168px;
	}

}

/*----------- Lrg. 2050px ------*/

@media only screen and (min-width: 127em) {

	nav {
		left: 1208px;
	}

	.banner-type {
		top: -865px;
	}

	.hmpage-banner-type {
		top: -875px;
	}

}

/*----------- Lrg. 2120px ------*/

@media only screen and (min-width: 131em) {

	nav {
		left: 1268px;
	}


}

/*----------- Lrg. 2150px ------*/

@media only screen and (min-width: 133em) {

	nav {
		left: 1288px;
	}


}

/*----------- Lrg. 2220px ------*/

@media only screen and (min-width: 133em) {

	nav {
		left: 1308px;
	}


}


/*----------- Lrg. 2260px ------*/

@media only screen and (min-width: 139em) {

	nav {
		left: 1368px;
	}

}

/*----------- Lrg. 2300px ------*/

@media only screen and (min-width: 142em) {

	nav {
		left: 1388px;
	}

}



/*----------- Lrg. 2320px ------*/

@media only screen and (min-width: 144em) {
	nav {
		left: 1408px;
	}

}

/*----------- Lrg. 2330px ------*/

@media only screen and (min-width: 145em) {

	nav {
		left: 1468px;
	}
}



/*----------- Lrg. 2390px ------*/

@media only screen and (min-width: 148em) {

	nav {
		left: 1488px;
	}

}


/*----------- Lrg. 2430px ------*/

@media only screen and (min-width: 150em) {

	nav {
		left: 1508px;
	}

}


/*----------- Lrg. 2450px ------*/

@media only screen and (min-width: 152em) {

	nav {
		left: 1568px;
	}

}

/*----------- Lrg. 2460px ------*/

@media only screen and (min-width: 153em) {

	nav {
		left: 1588px;
	}


}


/*----------- Print view ------*/

@media print {

	.banner-img {
		display: none;
	}

	.hero-type {
		color: #000;
		position: relative;
		bottom: 210px;
		left: 180px;
	}

	.text-center {
		text-align: left;
	}

	.nav-label {
		display: none;
	}

	.btn {
		display: none;
}

	.img-flex {
		display: none;
}

	.header {
		color: #000;
	}

	.copy {
		color: #000;
	}

	.footer-p {
		display: none;
	}
}
